<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 业务接口工厂类型定义 具体类型由于不同应用设置不同，所以不能在这里设置，需要在相应应用的AppSetting中设置 -->
  <add key="BizFactoryType" value="ExportDrawbackManagement.Biz.Factory.LocalBizFactory,ExportDrawbackManagement.Biz.Library"/>

  <!-- 实体定义Xml文件的路径 -->
  <add key="EntityBasePath" value="D:\export Drawback\ExportDrawbackManagementPortal\App_Data\ORMaping"/>

  <add key="bilv" value="1.3"/>
  
</appSettings>
