<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <!--oracle sql数据库连接字符串-->
  <!--<add name="ExportDrawbackManagementConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.62.5.7)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=PBLS)));Persist Security Info=True;User ID=vp;Unicode=false;password=Test;"
    providerName="System.Data.OracleClient" />
  <add name="CCDSConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.62.5.83)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=vp;Unicode=false;password=vpTest;"
    providerName="System.Data.OracleClient" />-->
  <!--ms sql数据库连接字符串-->
  <add name="ExportDrawbackManagementConnection" connectionString="Database=CarsManager;Server=10.62.5.52;uid=car_user;pwd=AAAaaa111;" providerName="System.Data.SqlClient" />
</connectionStrings>