.messagetext {overflow:hidden; zoom:1; border-left:1px solid #000; border-right:1px solid #000; padding:0 10px;  text-align:left; background:#ffffe1; word-break : break-all; letter-break:break-all; }
.messagetext img {float:left;margin:0 3px 3px 3px;}
.infomessage {float:right;margin-top:-10px;margin-right:-4px;}
*html .infomessage{margin-top:-15px;}